<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">{{ 'title.contact_us'|trans }}</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.
    </p>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="{{ app.request.uri }}" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            {{ form_widget(form.name, {"attr": {"class": "form-control" }} ) }}
                            <label for="email_name" class="">{{ 'label.name'|trans }}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            {{ form_widget(form.clientEmail, {"attr": {"class": "form-control" }} ) }}
                            <label for="email_clientEmail" class="">{{ 'label.email'|trans }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            {{ form_widget(form.subject, {"attr": {"class": "form-control" }} ) }}
                            <label for="email_subject" class="">{{ 'label.subject'|trans }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="md-form">
                            {{ form_widget(form.message, {"attr": {"class": "form-control md-textarea"} }) }}
                            <label for="email_message">{{ 'label.message'|trans }}</label>
                        </div>

                    </div>
                </div>
            {{ form_end(form) }}
            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">{{ 'submit.send'|trans }}</a>
            </div>
            <div class="status"></div>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map-marker fa-2x"></i>
                    <p>San Francisco, CA 94126, USA</p>
                </li>
                <li><i class="fa fa-phone mt-4 fa-2x"></i>
                    <p>+420 234 567 89</p>
                </li>
                <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                    <p>contact@mdbootstrap.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>

{% block javascripts %}
{% endblock %}