<li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon fa fa-puzzle-piece"></i>
        {{ 'nav.widget_manager'|trans }}
    </a>

    <ul class="nav-dropdown-items">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('widget_index') }}">
                <i class="nav-icon fa fa-list"></i>
                {{ 'widget_list'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('widget_new') }}">
                <i class="nav-icon fa fa-plus-circle"></i>
                {{ 'new.widget'|trans }}
            </a>
        </li>
    </ul>
</li>